.main {
  background-color: #454545;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/heroLandingPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
}

.menu {
  color: #fffafa;
  text-shadow: 5px 5px 4px #454545;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.menu-dark {
  color: #454545;

  font-weight: 700;
  /* text-shadow: 5px 5px 4px #454545; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.link:hover {
  color: #709cc7;
}

.title {
  color: #fffafa;
  text-shadow: 5px 5px 4px black;
  font-weight: bold;
}

.description {
  color: #fffafa;
  opacity: 0.5;
  border: 5px solid black;
}

.card-dark {
  /* center absolute div horizontally */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  /* hapus */
  /* width: 70%; */

  position: relative;
  top: 90%;
  border-radius: 50px;
  background: #454545;
  box-shadow: 20px 20px 60px #3b3b3b, -5px -5px 30px #4f4f4f;
}

.name {
  font-weight: 700;
  color: #fffafa;
  opacity: 0.5;
}

.profilePicture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* border-radius: 50%; */
}

.profileTitle {
  color: #fffafa;
  font-weight: bold;
}

.profileDescription {
  color: #fffafa;
  opacity: 50%;
}

.contact-us {
  color: #fffafa;
}

.content {
  background: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  background-position-y: 100px;
}

.card-light {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: max-content;

  /* hapus */
  /* width: 70%; */

  position: relative;
  border-radius: 50px;
  background: #fffafa;
  box-shadow: 20px 20px 60px #d9d5d5, -20px -20px 60px #ffffff;
}

.picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.contentTitle {
  color: #24507b;
  font-weight: bold;
}

.contentQuotes {
  color: #709cc7;
}

.contentDescription {
  color: #24507b;
  opacity: 50%;
}

.button-primary {
  color: #fffafa;
  font-weight: 700;
  /* font-size: 20px; */
  line-height: 44px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 70px;
  background: #24507b;
  box-shadow: 5px 5px 4px #000000;
  border-radius: 10px;
}

.footer {
  color: #fffafa;
  opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    background-size: contain;
    padding-bottom: 0px;
    background-attachment: fixed;
    max-width: 100%;
  }

  .content {
    background-size: cover;
  }

  .card-dark {
    top: 40%;
  }
}
